<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Admin Panel</h1>
    <button onclick="location.href='/doctor'">Doctor</button>
    <button onclick="location.href='/receptionist'">Receptionist</button>
</body>
</html>