<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="4.png" alt="">
            <div class="menu">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="/admin">Login</a>
            </div>
        </div>
        <h1>Welcome to Hospital Management System</h1>
        <form action="/admin" method="get">
            <button type="submit">Get Started</button>
        </form>
        <div class="text">
            <h3>"Efficient Care, Simplified Management"</h3>
            <p>"Our Hospital Management System is designed to streamline hospital operations, improve patient care, and enhance administrative efficiency."</p>
            <div class="text-content">
                <h4>Features: </h4>
                    <p>
                    - "Patient Registration and Management"<br>
                    - "Appointment Scheduling and Management"<br>
                    - "Electronic Health Records (EHR)"<br>
                    - "Billing and Payment Management"<br>
                    - "Staff Management and Scheduling"<br>
                    </p>
            </div>
           
        </div>
        
    </div>
</body>
</html>


