*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main
{
    width: 80%;
    min-height: 100px;
    margin:10px auto;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 60px 300px 300px 100px 100px 60px;
    grid-gap: 0.6rem;
    grid-template-areas: "box1 box2 box2 box2"
                         /* "box2 box2 box2 box2" */
                         "box3 box3 box5 box5"
                         "box4 box4 box5 box5"
                         "box6 box6 box6 box6";
}
.box1
{
    background-color: aqua;
    grid-area: box1;
    color: rgb(14, 13, 13);
}

.box1 h1
{
    margin-top: 10px;
}

.box2
{
    background-color: rgb(228, 197, 197);
    grid-area: box2;
    color: white;
    background-color: #d8bfbf;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.box2 a
{
    text-decoration: none;
    color: blue;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}
.box2 a:hover
{
    background-color: #555;
}
.box3
{
    background-color: red;
    grid-area: box3;
    color: white;
}
.box3 img
{
    width: 100%;
    height: 100%;
}
.box4
{
    /* background-color: blue; */
    grid-area: box4;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.box4 .nested-box1
{
    background-color: #555;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}
.nested-box1 img
{
    width: 100%;
    height: 50%;
}
.box4 .nested-box2
{
 background-color: antiquewhite;
 color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;   
}
.nested-box2 img
{
    width: 100%;
    height: 100%;
}
.box4 .nested-box3
{
    background-color: blueviolet;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}
.nested-box3 img
{
    width: 100%;
    height: 100%;
}
.box5
{
    background-color: chartreuse;
    grid-area: box5;
    color: white;
}
.box5 img
{
    width: 100%;
    height: 100%;
}
.box6
{
    background-color: rgb(204, 38, 38);
    grid-area: box6;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.box6 p
{
    text-decoration: none;
    color: rgb(216, 238, 19);
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}